body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin: 0;
    padding: 0;
}

#clock {
    background: brown;
    position: relative;
    height: 50vh;
    width: 50vh;
    /* background-image: url("https://i.pinimg.com/originals/63/f2/28/63f2287eedbfadbeddd41ca3105947a2.gif"); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

#hour,
#minute,
#second {
    background-color: aqua;
    position: absolute;
}

#hour {
    height: 20%;
    width: 5%;
    
    left: 47.5%;
    top: 30%;
}

#minute {
    background-color: brown;
    height: 37%;
    width: 1%;
    left: 49.5%;
    top: 15%;
}

#second {
    background: blueviolet;
    height: 48%;
    width: 0.2%;
    left: 50%;
    top: 10%;
    transform-origin: 0% 85%;
}